# Customize files and directories
inputs/
outputs/
storehouse/
WebDriver/
credentials.ini
email_config.ini
employee_ids.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and temp files
*.log
*.tmp

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Visual Studio Code settings
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini